<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1> {{ .title }}</h1>
    <div>
        <video class="video" controls>
            <source src="/static/videos/cat.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div>
        <img src="/static/images/cat.jpg" alt="Example" class="image">
    </div>
    <div class="container">
        <h1>Cat Example again/h1>
        <p>Click the button to increment the cat:</p>
        <div id="counter-display" class="counter">0</div>
        <button id="increment-btn" class="btn">Increment</button>
        <button id="submit-btn" class="btn">Submit</button>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>